# APP
CONTAINER_APP_NAME="nestjs"
URL_DEPLOY_LOCAL="http://localhost:5173"
URL_DEPLOY_REMOTE="plengi-frontend"
PORT=3000

# DATABASE
CONTAINER_DATABASE_NAME="postgres"
DATABASE_IMAGE="postgres:15-alpine"
DATABASE_TYPE="postgresql"
DATABASE_HOST="postgres"
DATABASE_USER="postgres-user"
DATABASE_PASSWORD="postgres-pw"
DATABASE_NAME="plengi"
DATABASE_PORT=5432
DATABASE_URL=${DATABASE_TYPE}://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}/${DATABASE_NAME}?schema=public
